{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html> 
<html data-theme="light">
<head> 
  <title>kyim. - dashboard</title>
 
  <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}"> 
</head>


<main class="navbabba"> 
  <div class="second">
    <div class="navvvv">
      <div class="navbar-dashboard">
        <ul>
          </li>
          <li><a href="#sldasdlasd">
            <div class="divvvv">
              <span class="navvv-item">PROFILE</span>
            </div>
          </a>
          </li>
          <li><a href="#sldasdlasd2">
            <div class="divvvv">
              <span class="navvv-item">ORDERS</span>
            </div>
          </a>
          <li><a href="#adddress">
            <div class="divvvv">
              <span class="navvv-item">ADDRESS</span>
            </div>
          </a>
          </li>
          <li><a href="#">
            <div class="divvvv">
              <span class="navvv-item">SETTINGS</span>
            </div>
          </a>
          </li>
          <li><a href="{% url 'core:contact' %}">
            <div class="divvvv">
              <span class="navvv-item">CONTACT US</span>
            </div>
          </a>
          </li>
          <li><a href="{% url 'userauths:sign-in' %}">
            <div class="divvvv">
              <span class="navvv-item">LOGOUT</span>
            </div>
          </a>
          </li>
        </ul>
      </div>
    </div>
  
    <section class="main"> 
        <div class="main-body">
            <h1>Welcome {{ request.user.username|title }}!</h1>
        </div>
        <hr> 
        <div class="main-body" id="sldasdlasd">
          <h1>My Profile</h1> 
          <div>
            {% if profile.image %}
                <span><img src="{{ profile.image.url }}" alt="My Image" class="imgpic"></span>
            {% else %}
                <span><img src="{% static 'assets/images/logo/default_profile_image.webp' %}" alt="Default Image" class="imgpic"></span>
            {% endif %}
        
          </div>
          <div class="klfalkf">
            <span>Name: {{profile.full_name}}</span>
            <span>Phone: {{profile.phone}}</span>
            <div class="button">
              <a href = "{% url 'userauths:profile-edit' %}" class="edit">Edit Profile</a>
            </div>
          </div>
        </div>
        <hr>
  
      <!-- Order Page -->
        <div class="main-body" id="sldasdlasd2">
          <h1>My Orders</h1>
            <table>
                <thead>
                  <tr>
                    <th class="country_name-cell">Order</th>
                    <th class="country_name-cell">Date</th>
                    <th class="country_name-cell">Status</th>
                    <th class="country_name-cell">Paid Status</th>
                    <th class="country_name-cell">Total</th>
                    <th class="pop96-cell">Actions</th>
                </thead>
                <tbody>
                    {% for o in orders %}
                    <tr class="firstRow">
                        <td class="country_name-cell">#{{o.id}}</td>
                        <td class="country_name-cell">{{o.order_date}}</td>
                        <td class="country_name-cell">{{o.product_status|title}}</td>
                        {% if o.paid_status == True %}
                        <td class="sode-cell"><b>✓</b></td>
                        {% else %}
                        <td class="code-cell"><i class="fas fa-times-circle"></i></td>
                        {% endif %}
                        <td class="country_name-cell">{{o.price}} tg</td>
                        <td class="pop96-cell"><a href="{%url 'core:order-detail' o.id%}">view</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id = "adddress">
          <form method = "POST"> 
            {% csrf_token %}
            <h1>Add address</h1>
            <div>
              <input id="addresss" placeholder="Address" name = "address" type = "text"/>
              <input id="addresss" placeholder="Phone" name = "mobile"/>
            </div>
            <button id="address" type = "submit" class = "btn-fill-out submit" name = "submit" value = "Submit">Add adress</button>
          </form>
        </div>
        {% for a in address%}
          <div id="div-with-address">
            <h1 class="h1j11">Shipping address</h1>
            <address>
              <p>{{a.address}}</p>
              <p>{{a.mobile}}</p>
              
            </address>
              {% if a.status %}
              <i data-address-id = "{{ a.id }}" class = "fa fa-check-circle text-success check{{ a.id }}"></i>
              <button data-address-id = "{{ a.id }}" class = "default-address button{{ a.id }} action_btn" style = "display:none;">Make default</button>
              {% else %}
              <i data-address-id = "{{ a.id }}" class = "fa fa-check-circle text-success check{{ a.id }}"></i>
              <button data-address-id = "{{ a.id }}" class = "default-address button{{ a.id }} action_btn">Make default</button>
  
              {% endif %}
            
          </div>
          <br>
          
          
          {% endfor %}
    </section>  
  </div>    
</main>
  {% endblock content %}
</body>
<script src="{% static 'assets/js/base.js' %}"></script>

</html>