{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html> 
<html data-theme="light"> 
<head> 
  <title>kyim. - privacy policy</title> 
  <link rel="stylesheet" href="{% static 'assets/css/privacy.css' %}"> 
</head>

<body>
    <div class="general">
      <div class="pages">
        <div><a href="{% url 'core:index' %}" class="size">home /</a></div> 
        <p>&nbsp;</p>
        <div><a href="{% url 'core:services' %}" class="size">services /</a></div> 
        <p>&nbsp;</p>
        <div><a href="{% url 'core:privacy' %}" class="size"> privacy policy</a></div>
    </div>
      <div class="about">
        <h1>
            Privacy Policy
        </h1>
        <div>
          <p>1. General Provisions</p>
          <br>
          <p><br>1.1 This Privacy Policy of Personal Information (hereinafter referred to as the Agreement) applies to all information that an limited liability partnership, 
            <br>"Kyim" (hereinafter — "Kyim") can receive about a user during her/his use of the site, services, programs and products "Kyim" (hereinafter — Services).</p>
            <br>
          <p><br>2. Terms and concepts used in this Agreement</p>
          <p>&nbsp;</p>
          <p><br>Kyim Company is a legal entity established in accordance with the legislation of the Republic of Kazakhstan, carrying out its activities, including those conducted through the Internet resource (Internet Store) Kyim.com. </p>
            <p>Site — the resource located on the Internet at Kyim.com and is owned by Kyim.</p>
            <p>Personal information - information that the user provides about himself / herself when registering (creating an account), including personal data of the user, or in the process of using the Services.</p>
            <p>Agreement — an agreement between the Kyim Company and the User on the acquisition of the Goods.</p>
            <p>User — any individual who voluntarily passed the Registration and / or placed an Order on the Website and received a unique authorization code for using the Website's services, as well as for making purchases from the Online Store catalog.</p>
            <p>Personal Account is a personalized interface of the Site with a set of user tools for making purchases from the Kyim catalog on the Site, as well as for using personalized site services.</p>
            <p>Privacy Policy — this User Agreement, which governs the relationship between Kyim and the User throughout the entire period of the User’s provision and access to the personalized services of the Site.</p>
          <br>
          <p><br>3. Objectives of collecting and processing personal information of users</p>
          <br>
          <p><br>3.1 The Kyim Company collects, processes and stores only that personal information which is necessary for the provision of the Services and / or the acquisition by the User of the Goods from the catalog of the Online Store on the Site.
            <p>3.2 User Personal Information Kyim uses for the following purposes:</p>
            <p>3.2.1 identification of the party under contracts with Kyim.com;</p>
            <p>3.2.2 processing and receiving payments from the User;</p>
            <p>3.2.3 delivery of goods to the User;</p>
            <p>3.2.4 providing the User with effective customer support;</p>
            <p>3.2.5 provide the user with personalized Services;</p>
            <p>3.2.6 communications with the user, including the sending of notifications, requests and information regarding the use of the Services, the provision of services, as well as the processing of requests and requests from the user;</p>
            <p>3.2.7 improving the quality of services, ease of use, development of new services and services;</p>
            <p>3.2.8 informing the User about events and promotions conducted by Kyim;</p>
            <p>3.2.9 conducting statistical and other studies based on anonymised data.</p>
            <p>3.3.1 to send news messages 1-2 times a week.</p>
            <p>3.4 Kyim, due to the specifics of the method of obtaining information, does not check the accuracy of the personal information provided by the User and does not control its relevance. However, Kyim Company assumes that the User provides accurate and personal information on the issues suggested by the Registration Form, and keeps this information up to date. All responsibility, as well as possible consequences for the provision of inaccurate or irrelevant personal information is borne by the User.</p>
          <p><br><br>4. Conditions for the processing of personal information of the user and its transfer to third parties</p>
          <p><br><br>4.1 Kyim stores and processes personal information of users in accordance with applicable regulations, as well as internal regulations created on their basis (first name, last name, middle name, email address, gender, date of birth, postal address, home, work, mobile phones).
            <p>4.2. With respect to the user's personal information, its confidentiality is preserved, except in cases where the user voluntarily provides information about herself/ himself for general access to the general public.</p>
            <p>4.3 Kyim protects the personal information of the User in accordance with the requirements for the protection of such information, and is responsible for the use of secure methods to protect such information.</p>
            <p>4.4. To protect the personal information of the User, to ensure its proper use and to prevent unauthorized and / or accidental access to it, Kyim takes the necessary and sufficient technical and administrative measures. The personal information provided by the User is stored on servers with limited access located in protected premises.</p>
            <p>4.5 Kyim is entitled to transfer personal information to third parties in the following cases:</p>
            <p>4.5.1 The user definitely consented to such actions;</p>
            <p>4.5.2 The transfer is necessary as part of the use by the user of a certain Service or for the provision of a service to a user, fulfillment of obligations under the contract;</p>
            <p>4.5.3 The transfer is provided for by Russian or other applicable law in accordance with the procedure established by law;</p>
            <p>4.6. When processing personal data of users, Kyim is governed by the law of the Republic of Kazakhstan “On Personal Data”.</p>
          <p><br><br>5. Change of user personal information</p>
            <p><br><br>5.1 The user can at any time change (update, add) the personal information associated with her/ him or part of it, as well as the parameters of its confidentiality, using the function of editing personal information in the private section in the personal space.</p>
            <p>5.2 The User has the right at any time to request the removal of the personal information provided by her/him by contacting the Customer Support Service Kyim at support@kyim.com.</p>
            <p>5.3 In order to refuse to receive newsletters, click an appropriate link at the bottom of the letter.</p>
          <p><br><br>6. Confirmation of the Agreement</p>
            <p><br><br>6.1 The User has the right to refuse to confirm this Agreement if any of its conditions is unacceptable to the User.</p>
            <p>6.2 The User confirms that her/his acceptance of the Agreement (the button “Accept User Agreement”) means the full consent of the User with all its conditions without exception.</p>
          <p><br><br>7. Modification of the Privacy Agreement</p>
          <p><br><br>7.1 Kyim has the right to make changes to this Privacy Policy. When making changes in the current edition, the date of the last update is indicated. The new version of the Agreement enters into force from the moment of its placement, unless nothing else’s envisioned in a new version of the Agreement. The current edition is always on this page.</p>
        </div>
      </div>
    </div>
    {% endblock %} 
</body>
<script src="{% static 'assets/js/base.js' %}"></script>
</html>  