{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html data-theme="light"> 
<head>
  <title>kyim - new password</title>
</head>
<link rel="stylesheet" href="{% static 'assets/css/sign-in.css' %}">
<div class="general">
    <div class="function" style="margin-top: 5%;">
        <div class="heading_s1">
            <h1 class="mb-5">Reset Password</h1>
            <p class="mb-30">Please Enter Your New Password</p>
        </div>   
        <form method="post" method="POST" class="post">
            {% csrf_token %}
            <div class="form-group">
                <input required type="password" class="input_type" name="new_password1" placeholder="New Password" />
            </div>
            <div class="form-group">
                <input required type="password" class="input_type" name="new_password2" placeholder="Confirm Password" />
            </div>
            <button type="submit" class="buttonLogin">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
<script src="{% static 'assets/js/base.js' %}"></script>
</html>