@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&display=swap');

:root {
  --primary-color: #222e37; /* Define a root variable for primary color */
  --primary-font: "League Spartan", sans-serif;
  --background-header-navbar: #ffffff;
  --hover-color: rgb(211, 211, 211);
}
[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --primary-color: #222e37;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --primary-color: #ffffff;
}

*{
  font-family: var(--primary-font);
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
}
.general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
}
.size {
    font-size: 1.6rem;
    font-family: "IM Fell Double Pica", serif;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
}
.size:hover {
    font-size: 1.6rem;
    font-family: "IM Fell Double Pica", serif;
    text-decoration: none;
    color: rgb(50, 10, 10);
    font-weight: 800;
    text-transform: uppercase;
}
.about {
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 20px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vw;
    font-weight: 600;
    font-family: "Bodoni Moda", serif;
    margin: 20px;
    color: var(--primary-color);
  }
  p {
    font-size: 1.5rem;
  }