@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root {
  --primary-color: #222e37; /* Define a root variable for primary color */
  --primary-font: "League Spartan", sans-serif;
  --background-header-navbar: #ffffff;
  --hover-color: rgb(93, 93, 93);
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --primary-color: #222e37;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --primary-color: #ffffff;
}
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* <!-- general function --> */
.general {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.image_login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  margin-top: 40px;
}

.move {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}

.function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 30px;
}
.heading_s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
}
.mb-30 {
  padding: 20px;
  font-size: 1.8rem;
}
.link_create {
  margin-left: 30px;
  text-decoration: none;
  color: var(--primary-color);
}

.link_create:hover {
  color: rgb(182, 182, 182);
}
.buttonLogin {
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  font-family: var(--primary-font);
  border-radius: 10px;
  margin-top: 20px;
}
.buttonLogin:hover {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  border-radius: 10px;
  margin-top: 20px;
  color: #ffffff;
  transition: .6s;
}


.form-group {
  margin: 10px;
  padding: 10px;
}
.form_general {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input_type {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border-color: #222e37;
}

/* <!-- general function --> */


.heloooo {
  margin-top: 30px;
  text-decoration: none;
  color: var(--primary-color);
}