@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .2s linear;
}
[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --primary-color: #222e37;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --primary-color: #ffffff;
}
html{
  font-size: 62.5%;
}

/* home */

.container-img {
  position: relative;
  text-align: center;
}

.image img{
  width: 100%;   
  border-bottom: 1px solid;
  margin-top: 60px;
}
.index {
  transform: translateY(0);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  margin-top: 30px;
}

.title {
  background-color: transparent;
  font-size:4vw;
  color: var(--color-bg);
  font-weight: 500;
  font-family: "League Spartan", sans-serif;

  transform: translateY(-1);
  z-index: 99;
  text-align: center;
}
#new_collection {
  transform: translateY(-1);
}

.button {
  padding: 50px;
  background-color: transparent;
}

.btn {
  background-color: transparent;
  font-size:2.8vw;
  color: #4f98d4;
  font-family: "Bodoni Moda", serif;
}

.btn:hover {
  color: #1e201f;
}
/* --------------------------------------------------------------------------- */
/* new_season */

.gennnn {
  display: flex;
  flex-direction: column;
}
.new_season, .blabla, .alkcmad {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}
.blabla, .alkcmad {
  border-bottom: 1px solid;
}
.first {
  gap: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  justify-content: center;
  flex-wrap: wrap;
}
.firstfirst {
  position: relative;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  padding: 40px;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  width: 50%;
}
h1.coolest.h1, p.coolest {
  font-family: "Pinyon Script", cursive;
}

.coolest .h1 {
  margin-top: 10px;
}
.sklskdlsk {
  display: flex;
  justify-content: end;
}
.second-- {
  width: 100%;
  max-width: 900px;
  float: right;
}
.coolest {
  font-weight: 100;
  font-size: 2.6vw;
  margin: 10px;
}
.lkdvnasdlkv {
  overflow: hidden;
  transform: translateY(0);
}
.akjnfcajscf {
  width: fit-content;
  overflow: hidden;
  height: 10vw;
  margin-right: -2200px;
  border-bottom: 1px solid;
}
.clothessss {
  font-size: 5vw;
  font-weight: 100;
  transform: rotate(18deg);
  overflow: hidden;
}
.secondsecond {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.first-- {
  width: 100%;
  max-width: 500px;
}

.gen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgpic {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 15px;
}
.cat {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-decoration-color: #1e201f;
}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 20px;
  font-size: 2.5vw;
  font-weight: 300;
}
.p_text {
  font-size: 1.9rem;
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: var(--primary-color);
}
.p2_text {
  font-size: 2rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  color: var(--primary-color);
}
.p2_text:hover {
  color: rgb(90, 18, 18);
}

h1 {
  font-family: "Bodoni Moda", serif;
}
.text {
  text-decoration: none;
  color: #1e201f;
}


.three {
  max-width: 100%;
  gap: 13px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img_ {
  position: relative;
  text-align: center;
  color: white;
}
.imgitself {
  max-width: 400px;
  height: auto;
}
.box_cent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 3rem;
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-style: solid;
  border-width:  1px;
  background: linear-gradient(to right, transparent, transparent) transparent;
  transition: background-color 1s;
  place-content: center;
}
.box_cent:hover, .box_cent:focus {
  background-color: white;
  color: #000000;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.ah1 {
  color: #ffffff;
  font-family: "Bodoni Moda", serif;
}
.ah1:hover {
  color: #000000;
  font-family: "Bodoni Moda", serif;
}
/* .box_li {
  
} */
.new {
  color: rgb(81, 22, 22);
  margin: 0px 0px 150px;
  font-size: 22px;
  align-self: center;
  font-family: "Futura PT";
  font-weight: 300;
  border-color: rgb(17, 39, 119);
  z-index: 2;
  text-decoration: none;
}
/* new_season */



/* home */
